{% extends 'A-B_selector.html' %}
{% load static %} 

{% block content %}

<div class="row">
	
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
	      <h3>{{cantidad_productos_totales}}</h3>
                <p>Cantidad de Productos Totales</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
	      <h3>{{cantidad_ventas_totales}}</h3>
                <p>Cantidad de Ventas Totales</p>
              </div>
              <div class="icon">
                <i class="fa-solid fa-hand-holding-dollar"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
		      <h3>${{total_de_ultima_venta}}</h3>

                <p>Ingresos Obtenidos Por Ultima Venta</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->

          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
	      <h3>{{cantidad_de_ventas_del_dia_actual}}</h3>
 

                <p>Cantidad De Ventas De Hoy</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
              <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
        </div>

<!-- <div class="card card-default"> -->
<!--               <div class="card-header"> -->
<!--                 <h3 class="card-title"> -->
<!-- 			<i class="fa-solid fa-house"></i> -->
<!--                 </h3> -->
<!--               </div> -->
<!--               <!-1- /.card-header -1-> -->
<!--               <div class="card-body"> -->
<!-- 		<table class="table" id="example"> -->
<!-- 		  <thead> -->
<!-- 		  </thead> -->
<!-- 		  <tbody> -->
<!-- 		  </tbody> -->
<!-- 		</table> -->
<!--               </div> -->
<!--               <!-1- /.card-body -1-> -->
<!-- 	      <!-1- card footer -1-> -->
<!-- 		<div class="card-footer"> -->
<!-- 			<a href="" class="btn btn-primary" id="boton_prueba"> -->
<!-- 				 <i class="fa-regular fa-square-plus"></i> &nbsp; Nuevo -->
<!-- 			</a> -->
<!-- 		</div> -->
<!--             </div> -->

{% endblock %}

