{% extends 'lista.html' %}


{% block columnas %}
	<tr>
		<th scope="col" style="width:5%;">Id</th>
		<th scope="col" style="width:20%;">Nombre</th>
		<th scope="col" style="width:65%;">Descripcion</th>
		<th scope="col" style="width:10%;">Acciones</th>
	</tr>
{% endblock %}

{% block filas %}

	{% for x in object_list %}
	<tr>
		<td> {{ x.id }} </td>
		<td> {{ x.nombre }} </td>
		<td> {{ x.descripcion }} </td>
		<td>
		<!-- Boton de Edicion -->
		<a href="{% url 'erp:Categoria_Editar' x.id %}" class="btn btn-info">
			<i class="fa-regular fa-pen-to-square"></i>
		</a>
		<!-- Boton de Eliminacion -->
		<a href="{% url 'erp:Categoria_Eliminar' x.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>
		</td>
	</tr>
	{% endfor %}

{% endblock %}


