{% extends 'lista.html' %}
{% load static %}

{% block columnas %}
	<tr>
		<th scope="col" style="width:10%;">Id</th>
		<th scope="col" style="width:30%;">Nombre</th>
		<th scope="col" style="width:10%;">Imagen</th>
		<th scope="col" style="width:10%;">Stock</th>
		<th scope="col" style="width:10%;">Precio $</th>
		<th scope="col" style="width:20%;">Categoria</th>
		<th scope="col" style="width:10%;">Acciones</th>
	</tr>
{% endblock %}

{% block filas %}

	{% for x in object_list %}
	<tr>
		<td> {{ x.id }} </td>
		<td> {{ x.nombre }} </td>

		<td class="text-center">  
			<!-- si tiene una imagen muestra la imagen , sino muestra la imagen sin_imagen.png -->
			{% if x.imagen %}
				<img src="/media/{{ x.imagen }}" class="img-fluid d-block mx-auto" style="width: 30px; height: 30px;" />
			{% else %}
				<img src="{% static 'img/sin_imagen.png' %}" class="img-fluid d-block mx-auto" style="width: 30px; height: 30px;" />
			{% endif %}
		</td>

		<td> {{ x.stock }} </td>
		<td> {{ x.pvp }} </td>
		<td> {{ x.categoria.nombre }} </td>

		<td>
			<!-- Boton de Edicion -->
			<a href="{% url 'erp:Producto_Editar' x.id %}" class="btn btn-info">
				<i class="fa-regular fa-pen-to-square"></i>
			</a>
			<!-- Boton de Eliminacion -->
			<a href="{% url 'erp:Producto_Eliminar' x.id %}" class="btn btn-danger">
				<i class="fa-regular fa-trash-can"></i>
			</a>
		</td>
	</tr>
	{% endfor %}

{% endblock %}


