{% extends 'lista.html' %}


{% block columnas %}
	<tr>
		<th scope="col" style="width:5%;">Id</th>
		<th scope="col" style="width:20%;">Cedula de Identidad</th>
		<th scope="col" style="width:20%;">Nombres</th>
		<th scope="col" style="width:20%;">Apellidos</th>
		<th scope="col" style="width:20%;">Telefono</th>
		<th scope="col" style="width:15%;">Acciones</th>
	</tr>
{% endblock %}

{% block filas %}

	{% for x in object_list %}
	<tr>
		<td> {{ x.id }} </td>
		<td> {{ x.cedula_de_identidad }} </td>
		<td> {{ x.nombres }} </td>
		<td> {{ x.apellidos }} </td>
		<td> {{ x.telefono }} </td>

		<td>

		<!-- Boton de Ver -->
		<a href="{% url 'erp:Cliente_Ver' x.id %}" class="btn btn-success">
			<i class="fa-regular fa-eye"></i>
		</a>

		<!-- Boton de Edicion -->
		<a href="{% url 'erp:Cliente_Editar' x.id %}" class="btn btn-info">
			<i class="fa-regular fa-pen-to-square"></i>
		</a>

		<!-- Boton de Eliminacion -->
		<a href="{% url 'erp:Cliente_Eliminar' x.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>


		</td>
	</tr>
	{% endfor %}

{% endblock %}


