{% extends 'A-B_selector.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action=".">

	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">
				<i class="fa-solid fa-eye"></i>
				{{ title }}
			</h3>
		</div>
		<!-- /.card-header -->

		<div class="card-body">
			{% csrf_token %}

			<ul class="list-group">
				<li class="list-group-item"><b>Cedula de Identidad:</b> {{cliente_datos.cedula_de_identidad}}</li> 
				<li class="list-group-item"><b>Nombres:</b> {{cliente_datos.nombres}}</li>
				<li class="list-group-item"><b>Apellidos:</b> {{cliente_datos.apellidos}}</li>
				<li class="list-group-item"><b>Teléfono:</b> {{cliente_datos.telefono}}</li>


				<li class="list-group-item"><b>Fecha de Nacimiento:</b> {{cliente_datos.fecha_de_nacimiento}}</li>
				<li class="list-group-item"><b>Dirección:</b> {{cliente_datos.telefono}}</li>

				<!-- si tiene informacion extra el cliente la mostrara , de lo contrario se mostrara un mensaje diciendo q no tiene -->
				<li class="list-group-item"><b>Informacion Extra del Cliente:</b>
					{% if cliente_datos.informacion_extra %} 
					{{cliente_datos.informacion_extra}}</li>
					{% else %}
					{{cliente_datos.nombres}} no tiene Infomacion Extra </li>
					{% endif %}
			</ul>
		</div>
		<!-- /.card-body -->

		<div class="card-footer">

			<!-- boton de volver a lista de clientes  -->
			<a href="{{ url_lista }}" class="btn btn-success" id="boton_prueba">
				<i class="fa-solid fa-circle-left"></i>  &nbsp; Volver A Lista De Clientes 
			</a>
		</div>
		<!-- /.card-footer -->
	</div>

</form>
{% endblock %}

