{% extends 'A-B_selector.html' %}
{% load widget_tweaks %}

{% block content %}
<form method="post" action=".">
	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">
				{% if title == "Crear Categoria" %}
				<i class="fa-solid fa-square-plus"></i>
				{% elif title == "Editar Categoria" %}
				<i class="fa-solid fa-pen-to-square"></i>
				{% endif %}
				{{ title }}
			</h3>
		</div>
		<!-- /.card-header -->

		<div class="card-body">
			{% csrf_token %}
			{# form.cliente | add_class:'form-control' #}

		<!-- /. INICIO - Este Funciona -->

		{{ form.cliente | add_class:'form-control selectpicker' | attr:"data-live-search=true" }}

		<!-- /. FIN -->

		<!-- /. INICIO -->

		<!-- <input type="text" list="Clientela" placeholder="Cliente" class="form-control"> -->
		<!-- <datalist id="Clientela"> -->
			{# for x in Clientela #}
				<!-- <option value="{# x.nombres #}"></option> -->
			{# endfor #}
		<!-- </datalist> -->

		<!-- /. FIN  -->

			<br/>
			{{ form.comentario | add_class:'form-control' }}
			<br/>
			<br/>

			<div id="contenedor_formulario" class="form-row">
				{{ formset.management_form }}
				{% for form in formset %}
				{{form.producto | add_class:'form-control col-6' }}
				{{form.cantidad | add_class:'form-control col-4'| attr:"min:1"}}
				{% endfor %}
				<!-- esta p lo que permite es que cuado se realice la primer insercion del primer formulario producto y cantidad usando el js, se coloque debajo -->
				<p> </p> 
			</div>
		</div>
		<!-- /.card-body -->

		<div class="card-footer">
			<!-- boton de guardar -->
			<button type "submit" class="btn btn-primary" id="boton_prueba">
				<i class="fa-regular fa-floppy-disk"></i> &nbsp; Guardar
			</button>

			<!-- boton de cancelar -->
			<a href="{{ url_categoria_lista }}" class="btn btn-secondary" id="boton_prueba">
				<i class="fa-solid fa-xmark"></i> &nbsp; Cancelar
			</a>
		</div>
		<!-- /.card footer -->
	</div>
</form>


<!-- Inicio Grupo de Botones --> 
<div class="fixed-bottom">
	<div class="btn-group btn-group-sm float-right">

		<button onclick="agregar_producto_y_cantidad()" class="btn btn-success" >Agregar</button>
		<button onclick="eliminar_producto_y_cantidad()" class="btn btn-warning" >Eliminar</button>
		<button onclick="agregar_producto_y_cantidad_X5()" class="btn btn-success" >Agregar X5</button>
		<button onclick="eliminar_producto_y_cantidad_X5()" class="btn btn-warning" >Eliminar X5</button>
		<input class="btn btn-info" type="button" value="Eliminar Ultimo Producto"> 
		<input class="btn btn-info" type="button" value="Eliminar/Vaciar Productos"> 
	</div>
</div>
<!-- Fin Grupo de Botones --> 
{% endblock %}

{% block javascript %}
<script>

// Funcion que permite anexar mas inputs al formset
function agregar_producto_y_cantidad(){
	var formulario = document.querySelector('#id_form-TOTAL_FORMS') // se recuperara algo del query seleccionado del documento , cuyo id es el valor que esta en el numeral dentro de del paretesis

	// input producto
	var nuevo_producto = document.querySelector('#id_form-0-producto').cloneNode(true); // clonamos toda ese elemento html 
	nuevo_producto.name = 'form-'+formulario.value+'-producto'; // cambiamos el parametro name 
	nuevo_producto.id = 'id_form-'+formulario.value+'-producto'; // cambiamos el parametro id 
	document.querySelector('#contenedor_formulario').appendChild(nuevo_producto); //seleccionamos el elemento que contiene el id contenedor_formulario,y con appendChild decimos que queremos agregar un nuevo elemento como hijo
	
	// input cantidad 
	var nuevo_cantidad = document.querySelector('#id_form-0-cantidad').cloneNode(true); // clonamos toda ese elemento html 
	nuevo_cantidad.name = 'form-'+formulario.value+'-cantidad'; // cambiamos el parametro name 
	nuevo_cantidad.id = 'id_form-'+formulario.value+'-cantidad'; // cambiamos el parametro id 
	document.querySelector('#contenedor_formulario').appendChild(nuevo_cantidad); //seleccionamos el elemento que contiene el id contenedor_formulario,y con appendChild decimos que queremos agregar un nuevo elemento como hijo
	
	// Espaciado 
	var p = document.createElement("p"); 
	document.querySelector('#contenedor_formulario').appendChild(p); // esto lo que permite es dar un espaciado 

	formulario.value = parseInt(formulario.value) + 1; // este es el incrementador , que permite se creen los formulario con el valor correspondiente

	}

// Funcion que permite eliminar el ultimo input del formset
	function eliminar_producto_y_cantidad() {
	    var Formulario = document.querySelector('#id_form-TOTAL_FORMS');
	    Formulario.value = parseInt(Formulario.value) - 1;

	    remover_producto = '#id_form-'+Formulario.value+'-producto';
	    remover_cantidad = '#id_form-'+Formulario.value+'-cantidad';

	    document.querySelector(remover_producto).remove();
	    document.querySelector(remover_cantidad).remove();
	}


// Funcion que permite anexar mas inputs al formset X5 
// Esta funcion es igual a agregar_producto_y_cantidad , pero hace uso de un for para repetirlo cinco veces 
function agregar_producto_y_cantidad_X5(){
	for (var i = 0; i < 4; i++){
	var formulario = document.querySelector('#id_form-TOTAL_FORMS') // se recuperara algo del query seleccionado del documento , cuyo id es el valor que esta en el numeral dentro de del paretesis

	// input producto
	var nuevo_producto = document.querySelector('#id_form-0-producto').cloneNode(true); // clonamos toda ese elemento html 
	nuevo_producto.name = 'form-'+formulario.value+'-producto'; // cambiamos el parametro name 
	nuevo_producto.id = 'id_form-'+formulario.value+'-producto'; // cambiamos el parametro id 
	document.querySelector('#contenedor_formulario').appendChild(nuevo_producto); //seleccionamos el elemento que contiene el id contenedor_formulario,y con appendChild decimos que queremos agregar un nuevo elemento como hijo
	
	// input cantidad 
	var nuevo_cantidad = document.querySelector('#id_form-0-cantidad').cloneNode(true); // clonamos toda ese elemento html 
	nuevo_cantidad.name = 'form-'+formulario.value+'-cantidad'; // cambiamos el parametro name 
	nuevo_cantidad.id = 'id_form-'+formulario.value+'-cantidad'; // cambiamos el parametro id 
	document.querySelector('#contenedor_formulario').appendChild(nuevo_cantidad); //seleccionamos el elemento que contiene el id contenedor_formulario,y con appendChild decimos que queremos agregar un nuevo elemento como hijo
	
	// Espaciado 
	var p = document.createElement("p"); 
	document.querySelector('#contenedor_formulario').appendChild(p); // esto lo que permite es dar un espaciado 

	formulario.value = parseInt(formulario.value) + 1; // este es el incrementador , que permite se creen los formulario con el valor correspondiente
	}
}


// Funcion que permite eliminar el ultimo input del formset
function eliminar_producto_y_cantidad_X5() {
	for (var i = 0; i < 4; i++) {

	    var Formulario = document.querySelector('#id_form-TOTAL_FORMS');
	    Formulario.value = parseInt(Formulario.value) - 1;

	    remover_producto = '#id_form-'+Formulario.value+'-producto';
	    remover_cantidad = '#id_form-'+Formulario.value+'-cantidad';

	    document.querySelector(remover_producto).remove();
	    document.querySelector(remover_cantidad).remove();
	}
}


</script>
{% endblock %}

