{% extends 'lista.html' %}
{% load static %}

{% block columnas %}
<tr>
	<th scope="col" style="width:5%;">Id</th>
	<th scope="col" style="width:15%;">Cliente Cedula</th>
	<th scope="col" style="width:15%;">Cliente Nombres</th>
	<th scope="col" style="width:15%;">Cliente Apellidos</th>
	<th scope="col" style="width:20%;">Fecha</th>
	<th scope="col" style="width:20%;">Total</th>
	<th scope="col" style="width:10%;">Acciones</th>
</tr>
{% endblock %}

{% block filas %}

{% for x in object_list %}
<tr>
	<td>{{ x.id }}</td>
	<td>{{ x.cliente }}</td>
	<td>{{ x.cliente.nombres }}</td>
	<td>{{ x.cliente.apellidos }}</td>
	<td>{{ x.fecha | date:"d/m/y , P" }}</td> <!-- <fecha> , <hora> -->
	<td>${{ x.total }}</td>

	<td>
		<!-- Boton Para Ver Detalle de Venta -->
		<a href="{% url 'erp:Detalle_De_Venta_Ver' x.id %}" class="btn btn-outline-success">
			<i class="fa-solid fa-file-invoice-dollar"></i>
		</a>

		<!-- Boton de Eliminacion -->
		<a href="{% url 'erp:Venta_Eliminar' x.id %}" class="btn btn-danger">
			<i class="fa-regular fa-trash-can"></i>
		</a>
	</td>
</tr>
{% endfor %}

{% endblock %}

