{% extends 'A-B_selector.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action=".">

<div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">

			{# if title == "Crear Categoria" #}
				<i class="fa-solid fa-square-plus"></i>
			{# elif title == "Editar Categoria" #}
				<i class="fa-solid fa-pen-to-square"></i>
			{# endif #}

			{# title #}
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
		{% csrf_token %}

                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <!-- <th>Total</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in detalle_venta %}
                            <tr>
                                <td style="padding: 0.45em;">
                                    {{i.producto}}
                                </td>
                                <td style="padding: 0.45em;">
                                    {{i.producto.pvp}}
                                </td>
                                <td style="padding: 0.45em;">
                                    {{i.cantidad}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
		<h1> Total: ${{ venta_especifica.total }} </h1>

              </div>
              <!-- /.card-body -->
	      <!-- card footer -->
		<div class="card-footer">


			<!-- boton de volver a lista de ventas  -->
			<a href="{{ url_lista }}" class="btn btn-success">
				<i class="fa-solid fa-circle-left"></i>  &nbsp; Volver A Lista De Ventas 
			</a>
		</div>
            </div>

</form>
{% endblock %}

