{% extends 'base.html' %}
{% block body %}
<!-- el efecto dark mode ,  no solo cambia el fondo sino tambien cambia el color de los botones , volviendolos mas opacos (im plementar dark mode mas adelante ) -->
<body class="hold-transition layout-top-nav">
	<div class="wrapper">
		<!-- Header -->
		{% include 'A_header.html' %}

		<div class="content-wrapper">
			<div class="content-header">
				<div class="container">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark"> Bienvenido </h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Inicio</a></li>
								<li class="breadcrumb-item"><a href="{{ url_categoria_lista }}">{{entidad}}</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
		<!-- Footer -->
		{% include 'footer.html' %}
	</div>
	<!-- Bloque javascript -->
	{% block javascript %}

	{% endblock %}
</body>
{% endblock %}

