{% load static %} 
<!-- Navbar -->
<!-- color dark del nav funciona bien --> 
<nav class="main-header navbar navbar-expand-md navbar-dark">
	<div class="container">
		<a href="#" class="navbar-brand">
			<img src="{% static 'img/Logo_Tienda_Saby_128x128.jpg' %}" alt="Tienda Saby Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">Tienda Saby</span>
		</a>
		<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse order-3" id="navbarCollapse">
			<!-- Left navbar links -->
			<ul class="navbar-nav">

				<li class="nav-item">
					<a href="#" class="nav-link"><i class="fa-solid fa-store"></i> &nbsp; Inicio</a>
				</li>


				<li class="nav-item dropdown">
					<a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa-solid fa-sitemap"></i> &nbsp; Componentes</a>
					<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
						<li><a href="#" class="dropdown-item"><i class="fa-solid fa-tags"></i> &nbsp; Categorias</a></li>
						<li><a href="#" class="dropdown-item"><i class="fa-solid fa-boxes-stacked"></i> &nbsp; Productos</a></li>
						<li><a href="#" class="dropdown-item"><i class="fa-solid fa-people-group"></i> &nbsp; Clientes</a></li>
						<li><a href="#" class="dropdown-item"><i class="fa-solid fa-hand-holding-dollar"></i> &nbsp; Ventas</a></li>
					</ul>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link"><i class="fa-brands fa-fort-awesome"></i> &nbsp; Extra</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link"><i class="fa-solid fa-circle-question"></i> &nbsp; Ayuda</a>
				</li>

			</ul>
		</div>

		<!-- Right navbar links -->
		<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
		<!-- Notifications Dropdown Menu -->
			<li class="nav-item dropdown">
				<a class="nav-link" data-toggle="dropdown" href="#">
					<i class="fa-solid fa-user"></i>
					<span class="badge badge-warning navbar-badge">15</span>
				</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
					<span class="dropdown-header"> La Ultima vez que Accediste Fue ... </span>

					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="fa-solid fa-user-pen"></i> &nbsp; Editar Perfil

						<span class="float-right text-muted text-sm">3 mins</span>
					</a>

					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="fa-solid fa-user-gear"></i> &nbsp; Editar Contraseña
						<span class="float-right text-muted text-sm">2 days</span>
					</a>

					<div class="dropdown-divider"></div>
					<a href="{% url 'Cerrar_Sesion' %}" class="dropdown-item dropdown-footer"> 
						<i class="fa-solid fa-door-open"></i> &nbsp; Cerrar Sesion / Salir
					</a>
				</div>
			</li>
			<!-- boton de salir --> 
			<li class="nav-item">
				<a class="nav-link" href="{% url 'Cerrar_Sesion' %}">
					<i class="fa-solid fa-door-open" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
<!-- /.navbar -->

