{% extends 'base.html' %}
{% block body %}
<!-- el efecto dark mode ,  no solo cambia el fondo sino tambien cambia el color de los botones , volviendolos mas opacos (im plementar dark mode mas adelante ) -->
<body class="sidebar-mini layout-navbar-fixed">
	<div class="wrapper">
		<!-- Header -->
		{% include 'B_header.html' %}

		<!-- Sidebar -->
		{% include 'B_sidebar.html' %}
		
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark"> Bienvenido {{ request.user.username }} </h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="{% url 'erp:Panel_Principal' %}">Inicio</a></li>
								<li class="breadcrumb-item"><a href="{{ url_lista }}">{{entidad}}</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container-fluid">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
		<!-- Footer -->
		{% include 'footer.html' %}
	</div>
	<!-- Bloque javascript -->
	{% block javascript %}

	{% endblock %}
</body>
{% endblock %}

