<!-- Navbar -->
<!-- color dark del nav funciona bien --> 
<nav class="main-header navbar navbar-expand navbar-dark">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a href="#" class="nav-link" data-widget="pushmenu" role="button"><i class="fa-solid fa-bars"></i></a>
		</li>
		<li class="nav-item">
			<a href="{% url 'erp:Panel_Principal' %}" class="nav-link"><i class="fa-solid fa-store"></i> &nbsp; Inicio</a>
		</li>
	</ul>

	<ul class="navbar-nav ml-auto">
		<li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
				<i class="fa-solid fa-user"></i>
			</a>
		<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
			<p class="dropdown-header"> La última vez que accediste fue el {{ request.user.last_login }} </p>

			<div class="dropdown-divider"></div>
			<a href="{% url 'index' %}" class="dropdown-item">
				<i class="fa-solid fa-house-chimney"></i> &nbsp; Homepage
			</a>
<!--
			<div class="dropdown-divider"></div>
			<a href="#" class="dropdown-item">
				<i class="fa-solid fa-user-gear"></i> &nbsp; Opcion Extra
				<span class="float-right text-muted text-sm">2 days</span>
			</a>
-->

			<div class="dropdown-divider"></div>
			<a href="{% url 'Cerrar_Sesion' %}" class="dropdown-item dropdown-footer"> 
				<i class="fa-solid fa-door-open"></i> &nbsp; Cerrar Sesion / Salir
			</a>
		</div>
		</li>
		<!-- boton de salir --> 
		<li class="nav-item">
			<a class="nav-link" href="{% url 'Cerrar_Sesion' %}">
				<i class="fa-solid fa-door-open" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</nav>
<!-- /.navbar -->

