{% load static %}   
<!-- Navbar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<a href="#" class="brand-link">
		<img src="{% static 'img/Logo_Tienda_Saby_128x128.jpg' %}" alt="Tienda Saby Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Tienda Saby</span>
	</a>
	<div class="sidebar">
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				{% if user.image %}
					<img src="{{ request.user.image.url }}" class="img-circle elevation-2" alt="Imagen De Usuario">
				{% else %}
					<img src="{% static 'img/usuario_3.png' %}" class="img-circle elevation-2" alt="Imagen De Usuario">
				{% endif %}
			</div>
			<div class="info">
				<a href="#" class="d-block"> {{ request.user.username }} </a>
			</div>
		</div>
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<li class="nav-header">Componentes</li>
				<li class="nav-item">
					<a href="{% url 'erp:Categoria_Lista' %}" class="nav-link">
						<i class="fa-solid fa-tags"></i>
						<p> &nbsp; Categorías</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'erp:Producto_Lista' %}" class="nav-link">
						<i class="fa-solid fa-boxes-stacked"></i>
						<p> &nbsp; Productos</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'erp:Cliente_Lista' %}" class="nav-link">
						<i class="fa-solid fa-people-group"></i>
						<p> &nbsp; Clientes</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'erp:Venta_Lista' %}" class="nav-link">
						<i class="fa-solid fa-hand-holding-dollar"></i>
						<p> &nbsp; Ventas</p>
					</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa-brands fa-fort-awesome"></i>
						<p> &nbsp; Extra</p>
					</a>
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fa-solid fa-circle-question"></i>
						<p> &nbsp; Ayuda</p>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>

