{% load static %}

<!-- Este Documento Html contiene la estructura base de la app erp --> 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title> {{title}} </title>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<!-- Font Awesome Icons (old Version) (AdminLTE) 
<link rel="stylesheet" href="{ static 'lib/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css' }">
-->

<!-- Font Awesome Icons Version free-6.2.1 -->
<link rel="stylesheet" href="{% static 'lib/fontawesome-free-6.2.1/css/all.min.css' %}">

<!-- Theme style -->
<link rel="stylesheet" href="{% static 'lib/AdminLTE-3.2.0/css/adminlte.min.css' %}">
<!-- jQuery -->
<script src="{% static 'lib/AdminLTE-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lib/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lib/AdminLTE-3.2.0/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'lib/AdminLTE-3.2.0/js/demo.js' %}"></script>

<!-- Bootstrap Selectpicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<!-- Bloque Head Extra -->
{% block head_extra %}

{% endblock %}

</head>

{% block body %}

{% endblock %}

</html>
