<!-- Footer -->
<footer class="main-footer">
<!-- To the right -->
<div class="float-right d-none d-sm-inline">
Empresa X 
</div>
<!-- Default to the left -->
<strong>Frase Inspiradora de la empresa.</strong> otro tipo informacion necesaria.
</footer>
