{% extends 'A-B_selector.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- enctype="multipart/form-data" hace que sea posible trabajar con los archivos multimedia --> 
<form method="post" action="." enctype="multipart/form-data">

<div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">

			{% if title == "Crear Categoria" %}
				<i class="fa-solid fa-square-plus"></i>
			{% elif title == "Editar Categoria" %}
				<i class="fa-solid fa-pen-to-square"></i>
			{% endif %}

			{{ title }}
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
		{% csrf_token %}

		{% if form.errors %}
			<div class="alert alert-danger alert-dismissible">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			  <h5><i class="fa-solid fa-skull-crossbones"></i> &nbsp; Error!</h5>

			<ul>
                            {% for campo in form %}
                                {% for falla in campo.errors %}
                                    <li>{{ falla }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>

			</div>
		{% endif %}

		{% for z in form.visible_fields %}
                    <div class="form-group">
                        <label>{{ z.label }}: </label>
			{{ z | add_class:'form-control' | attr:'autocomplete:off' }}
                    </div>
		{% endfor %}

              </div>
              <!-- /.card-body -->
	      <!-- card footer -->
		<div class="card-footer">

			<!-- boton de guardar -->
			<button type "submit" class="btn btn-primary" id="boton_prueba">
				<i class="fa-regular fa-floppy-disk"></i> &nbsp; Guardar
			</button>

			<!-- boton de cancelar -->
			<a href="{{ url_lista }}" class="btn btn-secondary" id="boton_prueba">
				<i class="fa-solid fa-xmark"></i> &nbsp; Cancelar
			</a>
		</div>
            </div>

</form>
{% endblock %}

