{% extends 'A-B_selector.html' %}
{% load static %} 

{% block head_extra %}

	<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
	<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

{% endblock %}


{% block content %}

<div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
			<i class="fa-solid fa-house"></i>
			{{ title }}
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
		<table class="table" id="example">
		  <thead>
			  {% block columnas %}

			  {% endblock %} 
		  </thead>
		  <tbody>
			{% block filas %}

			{% endblock %}
		  </tbody>
		</table>
              </div>
              <!-- /.card-body -->
	      <!-- card footer -->
		<div class="card-footer">
			<a href="{{ url_crear }}" class="btn btn-primary">
				 <i class="fa-regular fa-square-plus"></i> &nbsp; Nuevo
			</a>
		</div>
            </div>

{% endblock %}

{% block javascript %}

<!-- Bloque de Codigo que activa la funcionalidad de datatables -->
<script type="application/javascript">
	
	// Tabla Totalmente Responsive
	$(document).ready(function () {
			$('#example').DataTable({
					responsive:true
				});
	});


	// Tabla no tan Responsive
	// $(document).ready(function () {
	//	$('#example').DataTable();
	//});

</script>

{% endblock %}

