{% load static %}
<!-- load static permite hacer uso de los archivos que estan en la carpeta static -->


<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap demo</title>

    <!-- Este es el css de bootstrap -->
    <link href="{% static 'lib/bootstrap-5.3.0/css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

	<body>
		<img src="{% static 'img/usuario.png' %}" />
		<h1>Hello, world!</h1>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>


    <!-- este es el js de bootstrap --> 
    <script src="{% static 'lib/bootstrap-5.3.0/js/bootstrap.bundle.min.js' %}></script>
  </body>
</html>
