{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

	<!-- Font Awesome Icons Version free-6.2.1 -->
	<link rel="stylesheet" href="{% static 'lib/fontawesome-free-6.2.1/css/all.min.css' %}">

	<!-- Theme style -->
	<link rel="stylesheet" href="{% static 'lib/AdminLTE-3.2.0/css/adminlte.min.css' %}">

</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
	  <a href="{% url 'index' %}"><b>Tienda</b>Saby</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <!--
	      <p class="login-box-msg">Utiliza Tu Cuenta</p>
      -->

      <form action="." method="post">
	{% csrf_token %}

		{% if form.errors %}
			<div class="alert alert-danger alert-dismissible">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			  <p><i class="fa-solid fa-skull-crossbones"></i> &nbsp; Error! Por favor, introduzca un nombre de usuario y clave correctos. Ambos campos pueden ser sensibles a mayúsculas.</p>
			</div>
		{% endif %}

        <div class="input-group mb-3">

		{{ form.username | add_class:'form-control'| attr:'placeholder:Ingrese su Nombre de Usuario' }}

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa-solid fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">

		{{ form.password | add_class:'form-control'| attr:'autocomplete:off'| attr:'placeholder:Ingrese su clave' }}

          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa-solid fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">
		<i class="fa-solid fa-right-to-bracket"></i> &nbsp; Iniciar Sesión
	    </button>
          </div>
          <!-- /.col -->

        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src=" {% static 'lib/AdminLTE-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'lib/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src=" {% static 'lib/AdminLTE-3.2.0/js/adminlte.min.js' %}"></script>
</body>
</html>
