{% load static %}

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Cover Template · Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Bootstrap_core_v4.5.0_CSS.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'Custom_Styles.css'%}" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Tienda Saby</h3>
      <nav class="nav nav-masthead justify-content-center">

	      <a class="nav-link active" href="{% url 'index' %}">Homepage</a>

	<!-- Si el usuario esta ya esta logueado se mostrar el nombre del usuario . de lo contrario se mostara la opcion de login , para que se logue -->
	{% if request.user.is_authenticated %}
		<a class="nav-link" href="{% url 'erp:Panel_Principal' %}"> {{ request.user.username }} </a>
	{% else %}
		<a class="nav-link" href="{% url 'Iniciar_Sesion' %}">Acceder</a>
	{% endif %}

      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenido</h1>
    <!-- 
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
    -->
  </main>


  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>© 2023, Tienda Saby. Todos los derechos reservados. </p>
    </div>
  </footer>
</div>
</body>
</html>
